# Assignment 1. Traffic volume prediction.
by Anvar Kurmukov,
updated by Bogdan Kirillov, Hekmat Taherinejad, Satyarth Mishra Sharma

---

By the end of this task you will be able to manipulate huge tabular data:
1. Compute different column's statistics (min, max, mean, quantiles etc.);
2. Select observations/features by condition/index;
3. Create new non-linear combinations of the columns (feature engineering);
4. Perform automated data cleaning;

and more.

---

For those who are not familiar with `pandas` we recommend these (alternative) tutorials:

1. Single notebook, covers basic pandas functionality (starting with renaming columns ending with using map, apply etc) ~ 30 short examples with links on videos https://nbviewer.jupyter.org/github/justmarkham/pandas-videos/blob/master/pandas.ipynb . Highly recommended for everyone. (about 1-3 hours to go through)

2. https://github.com/guipsamora/pandas_exercises/ 11 topics covering all essential functionality with excersises (with solutions).

This task will be an easy ride after these tutorials.

---

We are using a public dataset compiling weather information and traffic data continuously monitored in the Twin Cities, Minnesota from 2012 to 2018. The dataset page can be found [here](https://archive.ics.uci.edu/ml/datasets/Metro+Interstate+Traffic+Volume). We've slightly modified it so please download the dataset provided on Canvas.  

You need to download `Metro_Interstate_Traffic_Volume.csv` and place it in the same directory as this notebook.

In [1]:
import numpy as np
import pandas as pd

# 1. Loading data

As always in Data Science you are starting with making nice cup of tea (or coffee). Your next move is to load the data:

- Start with loading `Metro_Interstate_Traffic_Volume.csv` file using `pd.read_csv()` function.
- You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30
- Print top 10 observations in the table. `.head()`
- Print last 10 observations in the table. `.tail()`
- Print all the data columns names using method `.columns`
- Print data size (number of rows and columns). This is the `.shape` of the data.

*Almost* every python has a `head` and a `tail` just as DataFrames do.

If you are using Google Colab, you can upload the file in the cell below. If you are NOT using Colab, set COLAB_P in the cell below to False.

In [2]:
# COLAB_P = True
# if COLAB_P:
#     print("Upload your file, then read it with pd.read_csv()")
#     from google.colab import files
#     uploaded = files.upload()
#     fn = list(uploaded.keys())[0]
#     print("File is uploaded to ", fn)
# else:
#     print("Place your file to the same directory as the notebook, then read your file with pd.read_csv()")

In [3]:
# Load the data
data = pd.read_csv("./Metro_Interstate_Traffic_Volume.csv")

In [4]:
# Observe top 10 observations (int)
data.head(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
5,None,291.72,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 14:00:00,5181.0
6,None,293.17,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 15:00:00,5584.0
7,None,293.86,0.0,0.0,1.0,Clear,sky is clear,2012-10-02 16:00:00,6015.0
8,None,294.14,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 17:00:00,5791.0
9,None,293.10,0.0,0.0,20.0,Clouds,few clouds,2012-10-02 18:00:00,4770.0

In [5]:
# Observe last 10 observations (int)
data.tail(10)

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
48194,None,283.84,0.00,0.0,75.0,Rain,proximity shower rain,2018-09-30 15:00:00,4302.0
48195,None,283.84,0.00,0.0,75.0,Drizzle,light intensity drizzle,2018-09-30 15:00:00,4302.0
48196,None,284.38,0.00,0.0,75.0,Rain,light rain,2018-09-30 16:00:00,4283.0
48197,None,284.79,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 17:00:00,4132.0
48198,None,284.20,0.25,0.0,75.0,Rain,light rain,2018-09-30 18:00:00,3947.0
48199,None,283.45,0.00,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.00,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.00,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [6]:
# Print all the columns/features names (int)
for col in data.columns:
    print(col)

holiday
temp
rain_1h
snow_1h
clouds_all
weather_main
weather_description
date_time
traffic_volume

In [7]:
# Q1.1 How many columns end with a vowel?
vowels = ('a','e','i','o','u','A','E','I','O','U')
n=0 #number of columns ending with vowel
for i in data.columns:
    if i.endswith(vowels):
        n+=1
print('Number of columns end with a vowel:', n) #answer for Q1.1

# Q1.2 How many columns start with a vowel?
vowels = ('a','e','i','o','u','A','E','I','O','U')
k=0 #number of columns starting with vowel
for col in data.columns:
    if col.startswith(vowels):
        k+=1
print('Number of columns start with a vowel:', k) #answer for Q1.2

# Q1.3 Which columns are associated with the condition of weather?
print('Columns  associated with the condition of weather:', data.columns[5],data.columns[6] ) # Printing Number of columns associated with weathercond

# Q1.4 How many columns have `th` in their names?
s = 0
for col in data.columns:
    if 'th' in col:
        s+=1
print('Number of columns chave `th` in their names:', s)

Number of columns end with a vowel: 2
Number of columns start with a vowel: 0
Columns  associated with the condition of weather: weather_main weather_description
Number of columns chave `th` in their names: 2

In [8]:
# Print data size (int)
print(f'\nSize: {data.size}')
# Q2.1 How many observations are in the data?
print('How many observations are in the data?',data.drop_duplicates().shape[0], sep='\n')
# Q2.2 How many features are in the data?
print('How many features are in the data?',data.shape[1], sep = '\n')

Size: 433836
How many observations are in the data?
48187
How many features are in the data?
9

# 2. Basic data exploration

Lets do some basics:

`.count()` number of not NaN's in every column.
    
Is there any missing values in the data?     
Count number of unique values in every column .nunique().    
What does this tells you about the features, which are most likely categorical and which are most likely numerical?    
Use pandas `.describe()` to display basic statistic about the data.   
Use pandas `.value_counts()` to count number of unique values in a specific column.   
Use pandas `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data.    
Use pandas `.dtypes` field to display data types in columns. 
Hint You could use `.sort_index()` or `.sort_values()` to sort the result of `.value_counts()`

In [9]:
# Display number of not NaN's in every column (int)
nulls_in_col=data.isnull().sum(axis=0)
print('Number of not NAN values in each column:', data.count() - nulls_in_col, sep='\n')

# Q3.1 How many NA values are in the `clouds_all` column?
#print(data['clouds_all'].isnull().sum(),'NA values are in the clouds_all column')
# Q3.2 How many NA values are in the `temp` column?
print(nulls_in_col['temp'], 'NA values are in the temp column')
# Q3.3 How many NA values are in the `rain_1h` column?
print(data['rain_1h'].isnull().sum(), 'NA values are in the raint_1h column')
# Q3.4 How many NA values are in the `snow_1h` column?
#print(nulls_in_col['snow_1h'], 'NA values are in the snow_1h column')
# Q3.5 How many explicit NA values are in the `traffic_volume` column?
#print('Explicit values in traffic_volume column:',data['traffic_volume'].isnull().sum())

Number of not NAN values in each column:
holiday                48204
temp                   48202
rain_1h                48202
snow_1h                48204
clouds_all             48198
weather_main           48202
weather_description    48198
date_time              48204
traffic_volume         48194
dtype: int64
1 NA values are in the temp column
1 NA values are in the raint_1h column

In [10]:
# Now drop rows with NaN with `.dropna`. Remeber to either reassign your dataframe or provide `inplace=True` argument.
data.dropna(axis = 0,how='all', inplace=True)
data

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0
...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0

In [11]:
# Display basic data statistics using .describe()
data.describe()

               temp       rain_1h       snow_1h    clouds_all  traffic_volume
count  48203.000000  48203.000000  48204.000000  48201.000000    48199.000000
mean     281.205431      0.334266      0.000222     49.364847     3259.882300
std       13.338022     44.789598      0.008168     39.015492     1986.873655
min        0.000000      0.000000      0.000000      0.000000        0.000000
25%      272.160000      0.000000      0.000000      1.000000     1193.000000
50%      282.450000      0.000000      0.000000     64.000000     3380.000000
75%      291.806000      0.000000      0.000000     90.000000     4933.000000
max      310.070000   9831.300000      0.510000    100.000000     7280.000000

In [12]:
# Count number of unique values in every column (int)
uniq_per_col = data.nunique()
print(uniq_per_col)
    
# Q4.1 How many unique values are in the `clouds_all` column?
#print(uniq_per_col['clouds_all'])
# Q4.2 How many unique values are in the `weather_main` column?
print('How many unique values are in the `weather_main` column?',uniq_per_col['weather_main'], sep = '\n')
# Q4.3 How many unique values are in the `weather_description` column?
#print(uniq_per_col['weather_description'])
# Q4.4 How many unique values are in the `snow_1h` column?
print('How many unique values are in the `snow_1h` column?',uniq_per_col['snow_1h'], sep = '\n')
# Q4.5 How many unique values are in the `rain_1h` column?
#print(uniq_per_col['rain_1h'])

holiday                   12
temp                    5843
rain_1h                  372
snow_1h                   12
clouds_all                60
weather_main              11
weather_description       38
date_time              40575
traffic_volume          6704
dtype: int64
How many unique values are in the `weather_main` column?
11
How many unique values are in the `snow_1h` column?
12

In [13]:
# Count frequency of the values in different columns (list of ints in ascending order)
# for i in data.columns:
#     print(data[i].value_counts())
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`
# numpy's `unique` function can be useful for this task

# Q5.1 For every unique `weather_main` value give its number of occurences.
print(data['weather_main'].value_counts(), ' number of occurences of values in `weather_main`')
# Q5.2 For every unique `weather_description` value give its number of occurences.
print(data['weather_description'].value_counts(), ' number of occurences of values in `weather_description`')

Clouds          15163
Clear           13391
Mist             5950
Rain             5672
Snow             2876
Drizzle          1821
Haze             1360
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64  number of occurences of values in `weather_main`
sky is clear                           11664
mist                                    5950
overcast clouds                         5081
broken clouds                           4665
scattered clouds                        3461
light rain                              3371
few clouds                              1956
light snow                              1946
Sky is Clear                            1726
moderate rain                           1664
haze                                    1360
light intensity drizzle                 1100
fog                                      912
proximity thunderstorm                   673
drizzle                                  651
heavy snow                               616
heavy intensity rain                     467
snow                                     293
proximity shower rain                    136
thunderstorm                             125
heavy intensity drizzle                   64
thunderstorm with heavy rain              63
thunderstorm with light rain              54
proximity thunderstorm with rain          52
thunderstorm with rain                    37
smoke                                     20
very heavy rain                           18
thunderstorm with light drizzle           15
proximity thunderstorm with drizzle       13
light intensity shower rain               13
light shower snow                         11
light rain and snow                        6
shower drizzle                             6
SQUALLS                                    4
sleet                                      3
thunderstorm with drizzle                  2
freezing rain                              2
shower snow                                1
Name: weather_description, dtype: int64  number of occurences of values in `weather_description`

In [14]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

# Q6.1 What are the max, min, mean and the std of the `traffic_volume` column?
#print(data['traffic_volume'].describe(), ' max, min, mean and the std of the `traffic_volume` column')
#or we can go another way
#print(np.std((data['rain_1h'])))
# print(np.min((data['traffic_volume'])))
# print(np.max((data['traffic_volume'])))
# print(np.mean((data['traffic_volume'])))

# Q6.2 What are the max, min, mean and the std of the `clouds_all` column?
#print(data['clouds_all'].describe(), ' max, min, mean and the std of the `clouds_all` column')
# Q6.3 What are the max, min, mean and the std of the `temp` column?
#print(data['temp'].describe(), ' max, min, mean and the std of the `temp` column')
# Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
rain = data['rain_1h']
print('Q6.4 What are the max, min, mean and the std of the `rain_1h` column?', rain.agg(['min', 'max', 'std', 'mean']), sep='\n')
# Q6.5 What are the max, min, mean and the std of the `snow_1h` column?
snow = data['snow_1h']
print('Q6.5 What are the max, min, mean and the std of the `snow_1h` column?', snow.agg(['min', 'max', 'std', 'mean']), sep='\n')

Q6.4 What are the max, min, mean and the std of the `rain_1h` column?
min        0.000000
max     9831.300000
std       44.789598
mean       0.334266
Name: rain_1h, dtype: float64
Q6.5 What are the max, min, mean and the std of the `snow_1h` column?
min     0.000000
max     0.510000
std     0.008168
mean    0.000222
Name: snow_1h, dtype: float64

In [15]:
# Display data types of all columns (int)

# Q7.1 How many columns have `object` data type?
object = data.select_dtypes(include='object').columns
print('Q7.1 How many columns have `object` data type??', len(object), sep='\n')
# Q7.2 How many columns have `int64` data type?
#answered in the solution for Q7.1
# Q7.3 How many columns have `float64` data type?

# Q7.4 What are the columns with dtype == `float64`?
floats = data.select_dtypes(include='float64').columns
print('Q7.4 What are the columns with dtype == `float64`?', len(floats), sep='\n')
# Q7.5 What are the columns with dtype == `int64`?
#print(data.dtypes, 'NO columns with type "int64"')

Q7.1 How many columns have `object` data type??
4
Q7.4 What are the columns with dtype == `float64`?
5

# 3. Data selection

In pandas.DataFrame you could select

  Row/s by position (integer number [0 .. number of rows - 1]) .iloc or by DataFrame.index .loc:   

```
  data.loc[0]  
  data.loc[5:10]  
  data.iloc[0]  
  data.iloc[5:10]   
```

Though, this is probably the worst way to manipulate rows.   
  Columns by name

```
  data[columname]
```

  Row/s and columns

```
  data.loc[10, columname]  
  data.iloc[10, columname]  
```

Using boolean mask

```
  mask = data[columname] > value  
  data[mask]  
```

You could combine multiple conditions using & or | (and, or)   

```
cond1 = data[columname1] > value1  
cond2 = data[columname2] > value2  
data[cond1 & cond2]  
```

Using queries .query():  

```
value = 5 
data.query("columname > value")  
```

You could combine multiple conditions using and, or  

```
data.query("(columname1 > value1) and (columname2 > value2)")
```

and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

Remember to use different quotation marks " or ' for columnname inside a query.

In [16]:
# Select rows by position (int) 

# Q8.1 What is the temperature of the time slot with index 777?
#print('temperature of the time slot with index 777 is', data['temp'].iloc[776])
# Q8.2 What is the weather description of the time slot with index 999?
print('weather description of the time slot with index 999 is', data['weather_description'].iloc[998])
# Q8.3 How much is cloud coverage with index 1337?
print('cloud coverage with index 1337 is', data['clouds_all'].iloc[1336])
# Q8.4 What is the weather main of the time slot with index 314?
# Q8.5 When was the time slot with index of 2718 observed?

weather description of the time slot with index 999 is overcast clouds
cloud coverage with index 1337 is 1.0

In [17]:
# Select rows by index (int)

# Q9.1 What is the temperature of the time slot on index 1102?
#print('temperature of the time slot on index 1102 is',data['temp'].loc[1102])
# Q9.2 What is the weather description of the time slot on index 5695?
print('weather description of the time slot on index 5695 is',data['weather_description'].loc[5695])
# Q9.3 How much is cloud coverage on the index 1045?
#print('cloud coverage on the index 1045 is', data['clouds_all'].loc[1045])
# Q9.4 What is the weather main of the time slot from index 252?
print(data.loc[252].weather_description, '- is the weather main of the time slot from index 252')
# Q9.5 When was the time slot with index of 38 captured?

weather description of the time slot on index 5695 is overcast clouds
sky is clear - is the weather main of the time slot from index 252

In [18]:
# Using mask or .query syntax select rows/columns (int)

# Q10.1 How many time slots have less than 270 temperature?
# mask = data['temp']<270
# print(mask.sum(), 'time slots have less than 270 temperature')
# Q10.2 When was the first "light intensity drizzle" in weather description captured?

print('the first "light intensity drizzle" in weather description captured on a row ',(data.weather_description.values == 'light intensity drizzle').argmax())
print('Q10.2: first "light intensity drizzle" date is',data.loc[179].date_time)
# Q10.3 How many time slots have cloud coverage more than 75?
# mark2 = 75
# p = 0
# for cloud in data['clouds_all']:
#     if cloud > mark2:
#         p+=1
# print(p, 'time slots have cloud coverage more than 75')
# Q10.4 How many time slots are foggy? (weather_main = Fog)
print(data.query('weather_main == "Fog"').shape[0], 'time slots are foggy')
# Q10.5 When was the last observed timeslot with weather_description "heavy snow"?

the first "light intensity drizzle" in weather description captured on a row  179
Q10.2: first "light intensity drizzle" date is 2012-10-10 07:00:00
912 time slots are foggy

In [19]:
# Q11.1 What is the traffic volume of November 20th 2016, at 20:00?
print(data.query('date_time == "2016-11-20 20:00:00"').traffic_volume.reset_index(), 'traffic_volume is 2070' )
# Q11.2 What is the amount of rain in the 70th rainy time slot (non-zero rain) of the dataset?
# print((data.query('rain_1h > 0')).reset_index().iloc[[69]])
# (data.query('rain_1h > 0')).reset_index().iloc[[69]] #QUESTION 11.2
# print('amount of rain in the 70th rainy time slot (non-zero rain) of the dataset is 0.51')
# Q11.3 How much cloud coverage percentage were in sky on October 16th 2012 at 19:00?
data.date_time =  pd.to_datetime(data.date_time)
data.query('date_time == "2012-10-16 19:00:00" ') #QUESTION 11.3
print(data.query('date_time == "2012-10-16 19:00:00" '))
print('cloud coverage percentage were in sky on October 16th 2012 at 19:00 was 68%' )
# Q11.4 What is the `traffic_volume` of a thirty fourth sample with `clouds_all` == 90?
# Q11.5 What is the "weather_description" in the 20th "weather_main" with Thunderstorm?

   index  traffic_volume
0  28268          2070.0 traffic_volume is 2070
    holiday    temp  rain_1h  snow_1h  clouds_all weather_main  \
344    None  287.28      0.0      0.0        68.0         Rain

    weather_description           date_time  traffic_volume
344          light rain 2012-10-16 19:00:00          3311.0
cloud coverage percentage were in sky on October 16th 2012 at 19:00 was 68%

In [20]:
data.query('date_time == "2016-11-20 20:00:00"')  #the answer for Q11.1 looks like preliminary

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
28268,None,269.15,0.0,0.0,1.0,Clear,sky is clear,2016-11-20 20:00:00,2070.0

In [21]:
(data.query('rain_1h > 0')).reset_index().iloc[[69]] #QUESTION 11.2

,index,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
69,6836,None,290.02,0.25,0.0,92.0,Rain,light rain,2013-06-10 01:00:00,388.0

In [22]:
data.query('date_time == "2012-10-16 19:00:00" ') #QUESTION 11.3

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
344,None,287.28,0.0,0.0,68.0,Rain,light rain,2012-10-16 19:00:00,3311.0

In [23]:
data.query('holiday!="None"').reset_index()[5:11]

,index,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
5,3697,Washingtons Birthday,258.96,0.0,0.0,20.0,Clouds,few clouds,2013-02-18,556.0
6,6430,Memorial Day,286.37,0.0,0.0,90.0,Clouds,overcast clouds,2013-05-27,863.0
7,7414,Independence Day,290.08,0.0,0.0,1.0,Clear,sky is clear,2013-07-04,1060.0
8,8575,State Fair,297.42,0.0,0.0,12.0,Clouds,few clouds,2013-08-22,661.0
9,8742,Labor Day,288.78,0.0,0.0,0.0,Clear,Sky is Clear,2013-09-02,1041.0
10,9455,Columbus Day,277.72,0.0,0.0,0.0,Clear,Sky is Clear,2013-10-14,615.0

In [24]:
# Q12.1 What is the temperature of the tenth holiday?
print(data.query('holiday!="None"').reset_index().loc[10].temp, 'is the temp of 10th day')
# Q12.2 What is the traffic volume for 99-th time slot with cloud coverage 75 percent?
data.query('clouds_all>75').reset_index().loc[[100]]
print('traffic volume for 99-th time slot with cloud coverage 75 percent is 4324.0')
# # Q12.3 How much is the temperature of the twelfth holiday?
# data.query('holiday!="None"').reset_index().iloc[[11]]
# print(data.query('holiday!="None"').reset_index().iloc[[11]])
# print('the temperature of the twelfth holiday is 268.24')
# Q12.4 How much is the temperature the 666-th time slot with weather_description 'proximity thunderstorm'?
# Q12.5 What is the temperature of 1337-th time slot with clear sky (clouds_all <= 20)?

277.72 is the temp of 10th day
traffic volume for 99-th time slot with cloud coverage 75 percent is 4324.0

In [25]:
data.query('clouds_all>75').reset_index().loc[[100]] #QUESTION 12.2

,index,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
100,287,None,284.68,0.0,0.0,93.0,Mist,mist,2012-10-14 16:00:00,4234.0

# 4. Creating new columns

Creating new column of pandas.DataFrame is as easy as:
```
data['new_awesome_column'] = [] 
```
that's it. But such a column is relatively useless. Typically, you would compute something new based on existing data and save it in a new column. For example one might want to sum a number of existing columns:
```
data['sum'] = data[col1] + data[col2] + ...
```
Pandas also provides another powerfull tool: .apply, .map(), .applymap() methods (they are kinda the same, but not quite). https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas . They allow you to apply some function to every value in the column/s (row-wise) or row (column-wise) or cell (element-wise). For example, same computations of sum using .apply():
```
data['sum'] = data[[col1, col2, col3]].apply(sum, axis=1)
```
you are not restricted to existent functions, .apply() accepts any function (including lambda functions):
```
data['sum'] = data[[col1, col2, col3]].apply(lambda x: x[0]+x[1]+x[2], axis=1)
```
or ordinary python function (if this it should have complex behaviour):
```
def _sum(x):
    total = 0
    for elem in x:
        total += elem
    return total

data['sum'] = data[[col1, col2, col3]].apply(_sum, axis=1) 
```
Many pandas methods has axis parameter axis=0 refers to rows, axis=1 refers to columns.

Warning. You should never use for loops to sum numerical elements from the container.

In [26]:
def conditions(data):
    if data['rain_1h']>0.1 and data['clouds_all']>50:
        return True
    else:
        return False 

data['rainy_and_cloudy'] = data.apply(conditions, axis=1)
data

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,rainy_and_cloudy
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,False
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,False
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,False
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,False
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,False
...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,False
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,False
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,False
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,False
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,False

In [27]:
# Create new columns using the old ones (new column in your DataFrame)
# Q13.1 Create a `temp_in_celcius` column from the existing `temp` (kelvin) using any method above
data['temp_in_celcius'] = data['temp'] - 273.15
# Q13.2 Create a new bool column `hot` which indicates whether the time slot was hot (temp > 300)
data['hot'] = np.where(data['temp'] > 300, True, False)
(data.query('hot ==True'))
# Q13.3 Create a new bool column `rainy_and_cloudy` which indicates whether it was rainy (>0.1) AND cloudy (>50)
def conditions(data):
    if data['rain_1h']>0.1 and data['clouds_all']>50:
        return True
    else:
        return False 

data['rainy_and_cloudy'] = data.apply(conditions, axis=1)
data
# Q13.4 Create a new bool column `is_holiday` which indicates whether the day of the time slot falls on any holiday
data['is_holiday'] = np.where(data['holiday']!= 'None', True, False)
data
# Q13.5 Create a new column `traffic_cat` by splitting a `traffic_volume` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
labels_percent = ['0-20%', "20-40%", '40-60%', '60-80%', '80-100%']
a = data['traffic_volume'].quantile(q=0.2) 
b = data['traffic_volume'].quantile(q=0.4)
c = data['traffic_volume'].quantile(q=0.6)
d = data['traffic_volume'].quantile(q=0.8)
print(a,b,c,d)
def quantiles(data):
    if 0<=data['traffic_volume']<=a:
        return '0-20%'
    elif b>=data['traffic_volume']>=a:
        return '20-40%'
    elif c>=data['traffic_volume']>=b:
        return '40-60%'
    elif d>=data['traffic_volume']>=c:
        return '60-80%'
    else:
        return '80-100%'

data['traffic_cat'] = data.apply(quantiles, axis=1)  
data

860.0 2741.0 4259.0 5180.4000000000015

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,rainy_and_cloudy,temp_in_celcius,hot,is_holiday,traffic_cat
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,False,15.13,False,False,80-100%
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,False,16.21,False,False,60-80%
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,False,16.43,False,False,60-80%
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,False,16.98,False,False,60-80%
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,False,17.99,False,False,60-80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,False,10.30,False,False,40-60%
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,False,9.61,False,False,40-60%
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,False,9.58,False,False,20-40%
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,False,8.94,False,False,20-40%
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,False,8.97,False,False,20-40%

In [28]:
# Using mask or .query syntax select rows/columns (int).
# For working with dates, define helper functions that operate on the date_time string.

# Q14.1 How many cloudy time slots were captured in autumn 2016? Including both start and end day.
# Q14.2 How many rainy time slots that were captured in the fall, with traffic volume more than 2000?
# data.date_time = pd.to_datetime(data.date_time)
# data14_2 = data.query('traffic_volume > 2000 & rain_1h!=0')
# print(data14_2.shape[0], 'time slots were captured in the fall with traffic volume more than 2000')

# Q14.3 How many time slots that are warmer than 270, have weather main "Clouds"?
# Q14.4 What is the minimum traffic volume of time slots captured on March 8th (all years), that was warmer than 290?
data['mnth_day'] = data['date_time'].apply(lambda x: x.strftime('%B-%d'))
new_data = data.loc[(data['mnth_day'] == 'March-08') & (data['temp'] > 290)]
print(new_data['traffic_volume'].min(), 'is the minimum traffic volume of time slots captured on March 8th ')

# Q14.5 How much is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky (weather_main)?
data.weather_main.value_counts()
print(data.loc[('weather_main == "Clear"')and(data['date_time'].apply(lambda x: x.strftime('%B-%Y'))=='June-2017')].traffic_volume.max(), 'is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky')

4780.0 is the minimum traffic volume of time slots captured on March 8th
6747.0 is the maximum traffic volume for the time slots were captured in June 2017 and has clear sky

In [29]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

# Q15.1 What was the average temperature of time slots with main weather "Haze"?
print(data.query('weather_main =="Haze"').temp.mean(), 'is the average temperature of time slots with main weather "Haze"')
# Q15.2 What was the traffic volume of the coldest time slot of the year 2016?
data['year'] = data['date_time'].apply(lambda x: x.strftime('%Y'))
data15_2 = data.loc[(data['year'] == '2016')].sort_values(by = ['temp']).reset_index()
print(data15_2['traffic_volume'][0], 'is the value of the traffic volume of the coldest time slot of the year 2016')
# Q15.3 What was the traffic volume of the highest amount of snow in one hour?
# Q15.4 What is the median of temperatures captured in April 2017?
# data['mnth_year'] = data['date_time'].apply(lambda x: x.strftime('%B-%Y'))
# data15_4 = data.loc[(data['mnth_year'] == 'April-2017')]
# print(data15_4.temp.median(), 'is the median of temperatures captured in April 2017')
# data15_4.describe()
# Q15.5 What is the maximum temperature of time slots with clear sky?

275.8185808823521 is the average temperature of time slots with main weather "Haze"
1462.0 is the value of the traffic volume of the coldest time slot of the year 2016

In [30]:
# Using mask or .query syntax select rows/columns (float)

# Q16.1 What is the average temperature in celcius of the time slots with rainy_and_coudy=True?
print(round(data.query('rainy_and_cloudy == True').temp.mean(), 2), 'is the average temperatre Q16.1')
#or we can use another method
data1 = data.query('rainy_and_cloudy == True')
print(np.average(data1['temp']), 'is the average temperatre of the time slots with rainy_and_coudy=True Q16.1')
# Q16.2 What is the average traffic volume on holidays?
print(round(data.query('holiday!="None"').traffic_volume.mean(),2), 'is the average traffic volume on holidays Q16.2')
# Q16.3 What is the average traffic volume on non-holidays?
print(data.query('holiday == "None"').traffic_volume.mean(), 'is the average traffic volume on non-holidays')
# Q16.4 What is the average traffic volume in the highest quantile?
data16_4 = data.loc[data['traffic_cat'] =='80-100%']
high_quantile = data16_4['traffic_volume'].mean()
print(round(high_quantile,2), 'is the average traffic volume in the highest quantile Q16_4')
# Q16.5 What is the average traffic volume in the lowest quantile?
data16_5 = data.loc[data['traffic_cat'] =='0-20%']
lowest_quantile = data16_5['traffic_volume'].mean()
print(round(lowest_quantile,2), 'is the average traffic volume in the lowest quantile Q16_5')

286.73 is the average temperatre Q16.1
286.73457880943465 is the average temperatre of the time slots with rainy_and_coudy=True Q16.1
865.44 is the average traffic volume on holidays Q16.2
3262.9165108645975 is the average traffic volume on non-holidays
5869.86 is the average traffic volume in the highest quantile Q16_4
485.55 is the average traffic volume in the lowest quantile Q16_5

In [31]:
data16_5

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,rainy_and_cloudy,temp_in_celcius,hot,is_holiday,traffic_cat,mnth_day,year
15,None,284.63,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 00:00:00,506.0,False,11.48,False,False,0-20%,October-03,2012
16,None,283.47,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 01:00:00,321.0,False,10.32,False,False,0-20%,October-03,2012
17,None,281.18,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 02:00:00,273.0,False,8.03,False,False,0-20%,October-03,2012
18,None,281.09,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 03:00:00,367.0,False,7.94,False,False,0-20%,October-03,2012
19,None,279.53,0.0,0.0,1.0,Clear,sky is clear,2012-10-03 04:00:00,814.0,False,6.38,False,False,0-20%,October-03,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48180,None,280.07,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 02:00:00,696.0,False,6.92,False,False,0-20%,September-30,2018
48181,None,280.08,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 03:00:00,364.0,False,6.93,False,False,0-20%,September-30,2018
48182,None,279.88,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 04:00:00,335.0,False,6.73,False,False,0-20%,September-30,2018
48183,None,279.96,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 05:00:00,444.0,False,6.81,False,False,0-20%,September-30,2018
48184,None,280.17,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 06:00:00,802.0,False,7.02,False,False,0-20%,September-30,2018

# 5. Basic date processing

You figure out that column date is to harsh for you, so you decided to convert it to a more plausible format:

- Use pandas method to_datetime() to convert the date to a good format.
- Extract year, month, day and weekday from your new date column. Save them to separate columns.
- How many columns has your data now?
- Drop column date, remember to set inplace parameter to True.

Hint: for datetime formatted date you could extract the year as follow:
```
data.date.dt.year
```
Very often date could be a ridiculously rich feature, sometimes it is holidays that matters, sometimes weekends, sometimes some special days like black friday.

Learn how to work with date in Python!

In [32]:
# Create new columns based on `Captured` column

# Q17.1 Convert date to datetime format
data.date_time = pd.to_datetime(data.date_time)
# Q17.2 Extract and store `year`
data['year'] = data['date_time'].apply(lambda x: x.strftime('%Y'))
# Q17.3 Extract and store `month`
data['month'] = data['date_time'].apply(lambda x: x.strftime('%B'))
# Q17.4 Extract and store `day`
data['day'] = data['date_time'].apply(lambda x: x.strftime('%d'))
# Q17.5 Extract and store `weekday` (Monday - 0, Sunday - 6)
data['weekday'] = data['date_time'].dt.dayofweek
# Q17.6 Extract and store `hour`
def hr_func(ts):
    return ts.hour

data['hour'] = data['date_time'].apply(hr_func)

In [33]:
data

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,rainy_and_cloudy,temp_in_celcius,hot,is_holiday,traffic_cat,mnth_day,year,month,day,weekday,hour
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,False,15.13,False,False,80-100%,October-02,2012,October,02,1,9
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,False,16.21,False,False,60-80%,October-02,2012,October,02,1,10
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,False,16.43,False,False,60-80%,October-02,2012,October,02,1,11
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,False,16.98,False,False,60-80%,October-02,2012,October,02,1,12
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,False,17.99,False,False,60-80%,October-02,2012,October,02,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,False,10.30,False,False,40-60%,September-30,2018,September,30,6,19
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,False,9.61,False,False,40-60%,September-30,2018,September,30,6,20
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,False,9.58,False,False,20-40%,September-30,2018,September,30,6,21
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,False,8.94,False,False,20-40%,September-30,2018,September,30,6,22
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,False,8.97,False,False,20-40%,September-30,2018,September,30,6,23

In [34]:
# Find some date related information from the data (int)

# Q18.1 What is the weekday with the highest traffic volume?
#data18_1 = data.groupby('weekday', as_index = False).agg({'traffic_volume':'mean'}).sort_values('traffic_volume', ascending = False)
#print('the weekday with the highest traffic volume is #3 i.e. Thursday')
#print(data18_1, 'Q18_1')
# Q18.2 What is the weekday with the lowest traffic volume? 
data18_2 = data.groupby('weekday', as_index = False).agg({'traffic_volume':'mean'}).sort_values('traffic_volume')
print(data18_2[0:1],'the weekday with the lowest traffic volume is Sunday i.e. 6th day')
# Q18.3 What is the average traffic volume during months of September?
print(round(data.query('month =="September"').traffic_volume.mean(),2), 'is the average traffic volume during months of September')
# Q18.4 What is the average traffic volume in the time period between 15-19 hours
print(round(data.query('15<=hour <= 19').traffic_volume.mean(),2),'is the average traffic volume in the time period between 15-19 hours')
# Q18.5 What is the average traffic volume on World Bicycle Day (June 3)?
print(round(data.query('mnth_day =="June-03"').traffic_volume.mean(),2), 'is the average traffic volume on World Bicycle Day (June 3)')

   weekday  traffic_volume
6        6     2368.701208 the weekday with the lowest traffic volume is Sunday i.e. 6th day
3303.05 is the average traffic volume during months of September
4749.2 is the average traffic volume in the time period between 15-19 hours
3445.98 is the average traffic volume on World Bicycle Day (June 3)

In [35]:
data18_2

   weekday  traffic_volume
6        6     2368.701208
5        5     2773.848316
0        0     3309.387161
1        1     3488.555799
2        2     3583.051667
3        3     3637.709800
4        4     3656.781712

# 6. Groupby

from the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

By “group by” we are referring to a process involving one or more of the following steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

`.groupby()` is one of the most powerfull tool for feature engineering. Very often it is used to group object with the same categorical characteristics and compute some statistics (e.g. mean, max, etc.) of a their numerical characteric.

Instead of computing average traffic volume with for each month you could compute average traffic volumes for every month in a single command:
```
data.groupby('month')['traffic_volume'].mean()
```
You could also make multi-column groups:
```
data.groupby(['weekday','month'])['traffic_volume'].min()
```
next, you could compute multiple aggregation functions:
```
data.groupby(['weekday','month'])['traffic_volume'].agg([min, max])
```
instead of using built-in functions you could compute custom functions using apply:
```
import numpy as np
data.groupby(['weekday','month'])['traffic_volume'].apply(lambda x: np.quantile(x, .5))
```
and the coolest thing now is that you can map the results of groupby back on your DataFrame!
```
gp = data.groupby(['month'])['traffic_volume'].median()
data['gp_feature'] = data['month'].map(gp)
```
Now, if some timeslot has month == 2, its gp_feature will be equal to the median traffic volume amongst all observations in February

Read more examples in the documentation https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [36]:
# Create some groupby features
# Q19.1 `traffic_by_year` groupby `year` and compute median traffic volume.
traff = data.groupby('year').traffic_volume.median()
data['traffic_by_year'] = data['year'].map(traff)
# Q19.2 `traffic_by_weekday` groupby `weekday` and compute median traffic volume.
weekd = data.groupby('weekday').traffic_volume.median()
data['traffic_by_weekday'] = data['weekday'].map(weekd)
# Q19.3 `temperature_by_traffic` groupby `traffic_cat` and compute average temperature in celsius.
temp = data.groupby('traffic_cat').temp_in_celcius.mean()
data['temperature_by_traffic'] = data['traffic_cat'].map(temp)


data

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,rainy_and_cloudy,...,traffic_cat,mnth_day,year,month,day,weekday,hour,traffic_by_year,traffic_by_weekday,temperature_by_traffic
0,None,288.28,0.0,0.0,40.0,Clouds,scattered clouds,2012-10-02 09:00:00,5545.0,False,...,80-100%,October-02,2012,October,02,1,9,3225.0,4070.0,9.748472
1,None,289.36,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 10:00:00,4516.0,False,...,60-80%,October-02,2012,October,02,1,10,3225.0,4070.0,9.799204
2,None,289.58,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 11:00:00,4767.0,False,...,60-80%,October-02,2012,October,02,1,11,3225.0,4070.0,9.799204
3,None,290.13,0.0,0.0,90.0,Clouds,overcast clouds,2012-10-02 12:00:00,5026.0,False,...,60-80%,October-02,2012,October,02,1,12,3225.0,4070.0,9.799204
4,None,291.14,0.0,0.0,75.0,Clouds,broken clouds,2012-10-02 13:00:00,4918.0,False,...,60-80%,October-02,2012,October,02,1,13,3225.0,4070.0,9.799204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75.0,Clouds,broken clouds,2018-09-30 19:00:00,3543.0,False,...,40-60%,September-30,2018,September,30,6,19,3400.0,2261.0,9.248835
48200,None,282.76,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 20:00:00,2781.0,False,...,40-60%,September-30,2018,September,30,6,20,3400.0,2261.0,9.248835
48201,None,282.73,0.0,0.0,90.0,Thunderstorm,proximity thunderstorm,2018-09-30 21:00:00,2159.0,False,...,20-40%,September-30,2018,September,30,6,21,3400.0,2261.0,6.036259
48202,None,282.09,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 22:00:00,1450.0,False,...,20-40%,September-30,2018,September,30,6,22,3400.0,2261.0,6.036259
48203,None,282.12,0.0,0.0,90.0,Clouds,overcast clouds,2018-09-30 23:00:00,954.0,False,...,20-40%,September-30,2018,September,30,6,23,3400.0,2261.0,6.036259

# 7. Building a regression model

- You do not need to normalize data for tree models, and for linear/knn models this step is essential.
- Remember, that not all of the features in the table are numeric, some of them might be viewed as categorical.
- You may create or drop any features you want - try to only keep features which you think will be relevant to the prediction of traffic volume.

In [37]:
df = data
df = df.dropna()

In [39]:
# Q20 Separate your data into inputs and targets, keeping only relevant inputs. Drop any features computed from the output eg. `traffic_cat`
Y = df["traffic_volume"]

good_columns = ['temp','rain_1h', 'snow_1h','clouds_all', 'traffic_volume', 'weather_main', 'weather_description','rainy_and_cloudy', 'traffic_by_year', 'traffic_by_weekday'] #todo
Xdf = df[good_columns]
Xdf

,holiday_new_col,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weather_main,weather_description,rainy_and_cloudy,traffic_by_year,traffic_by_weekday
0,False,288.28,0.0,0.0,40.0,5545.0,Clouds,scattered clouds,False,3225.0,4070.0
1,False,289.36,0.0,0.0,75.0,4516.0,Clouds,broken clouds,False,3225.0,4070.0
2,False,289.58,0.0,0.0,90.0,4767.0,Clouds,overcast clouds,False,3225.0,4070.0
3,False,290.13,0.0,0.0,90.0,5026.0,Clouds,overcast clouds,False,3225.0,4070.0
4,False,291.14,0.0,0.0,75.0,4918.0,Clouds,broken clouds,False,3225.0,4070.0
...,...,...,...,...,...,...,...,...,...,...,...
48199,False,283.45,0.0,0.0,75.0,3543.0,Clouds,broken clouds,False,3400.0,2261.0
48200,False,282.76,0.0,0.0,90.0,2781.0,Clouds,overcast clouds,False,3400.0,2261.0
48201,False,282.73,0.0,0.0,90.0,2159.0,Thunderstorm,proximity thunderstorm,False,3400.0,2261.0
48202,False,282.09,0.0,0.0,90.0,1450.0,Clouds,overcast clouds,False,3400.0,2261.0
48203,False,282.12,0.0,0.0,90.0,954.0,Clouds,overcast clouds,False,3400.0,2261.0

<ipython-input-63-ca61676109e5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xdf["weather_main"] = Xdf["weather_main"].astype('category')
<ipython-input-63-ca61676109e5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xdf["weather_description"] = Xdf["weather_description"].astype('category')
<ipython-input-63-ca61676109e5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xdf["holiday_new_col"] = Xdf["holiday_new_col"].astype('category')
<ipython-input-63-ca61676109e5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Xdf["rainy_and_cloudy"] = Xdf["rainy_and_cloudy"].astype('category')

In [65]:
cat_columns = Xdf.select_dtypes(['category']).columns
Xdf[cat_columns] = Xdf[cat_columns].apply(lambda x: x.cat.codes)
Xdf.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,holiday_new_col,temp,rain_1h,snow_1h,clouds_all,traffic_volume,weather_main,weather_description,rainy_and_cloudy,traffic_by_year,traffic_by_weekday
0,0,288.28,0.0,0.0,40.0,5545.0,1,24,0,3225.0,4070.0
1,0,289.36,0.0,0.0,75.0,4516.0,1,2,0,3225.0,4070.0
2,0,289.58,0.0,0.0,90.0,4767.0,1,19,0,3225.0,4070.0
3,0,290.13,0.0,0.0,90.0,5026.0,1,19,0,3225.0,4070.0
4,0,291.14,0.0,0.0,75.0,4918.0,1,2,0,3225.0,4070.0

In [41]:
Y

0        5545.0
1        4516.0
2        4767.0
3        5026.0
4        4918.0
          ...
48199    3543.0
48200    2781.0
48201    2159.0
48202    1450.0
48203     954.0
Name: traffic_volume, Length: 48190, dtype: float64

In [42]:
cols = ['temp','rain_1h', 'snow_1h','clouds_all', 'traffic_volume', 'weather_main', 'weather_description','rainy_and_cloudy', 'traffic_by_year', 'traffic_by_weekday']

Now it's time to split our data into train and test sets. Generally a random split is used, but one needs to be very careful with time series data - we need to make sure train and test data don't contain mixed adjacent time slots. In general with time series, it is recommended not to predict values from the past using input information from the future (although the applicability of this rule in our case is debatable), so we'll use sklearn's [TimeSeriesSplit](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html) class here. TimeSeriesSplit splits data into a number of folds, then only provides data from past folds to train a model tested on the currently considered fold. So if we split our data into five parts, we'll get four folds:

1. Train on [0], test on [1]
2. Train on [0,1], test on [2]
3. Train on [0, 1, 2], test on [3]
4. Train on [0, 1, 2, 3], test on [4]

For the following tasks, you are required to use train and test indices from the last fold provided by TimeSeriesSplit with `n_splits` = 5.

In [43]:
# Q21 Split your data into train and test parts.

# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.TimeSeriesSplit with n_splits=5

from sklearn.model_selection import TimeSeriesSplit

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Xdf, Y, test_size=0.33, random_state=7)

In [44]:
print('Num of train samples:', X_train.shape[0])
print('Num of test samples:', X_test.shape[0])

Num of train samples: 32287
Num of test samples: 15903

In [45]:
# Normalizing data

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

scaler.fit(X_train[cols])

X_train[cols] = scaler.transform(X_train[cols])
X_test[cols] = scaler.transform(X_test[cols])

<ipython-input-45-3aec1ad650e0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[cols] = scaler.transform(X_train[cols])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-45-3aec1ad650e0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[cols] = scaler.transform(X_test[cols])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [46]:
# Create a predictive regression model of a traffic volume.

# Q22.1 Use linear regression with l2 regularization (Ridge regression)
# Q22.2 Use decision tree regression
# Q22.3 Use k nearest neighbours regression

from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [71]:
# Q22.1 Use linear regression with l2 regularization (Ridge regression)

ridge_reg = Ridge()
ridge_reg.fit(X_train.values, y_train.values)
y_pred = ridge_reg.predict(X_test.values)

In [67]:
# Q22.2 Use decision tree regression
from sklearn.metrics import mean_squared_error as mse

depth = 10
reg = DecisionTreeRegressor(max_depth = depth)
test_error = []
train_error = []
n = 5
for depth in range(1,n):
    
    reg = DecisionTreeRegressor(max_depth = depth)
    reg.fit(X_train, y_train)
    y_pred_test = reg.predict(X_test)
    y_pred_train = reg.predict(X_train)
    
    train_error.append(mse(y_pred_train, y_train))
    test_error.append(mse(y_pred_test,y_test))

#best model 
depth = list(range(1,n))[np.argmin(test_error)]
reg = DecisionTreeRegressor(max_depth = depth)
reg.fit(X_train, y_train)
y_pred_train = reg.predict(X_train)
y_pred_test = reg.predict(X_test)

print('\nTrain MSE:', mse(y_pred_train, y_train),'\nTest MSE:', mse(y_pred_test, y_test))

Train MSE: 14383.581928343518
Test MSE: 14475.02725791783

In [50]:
# Q22.3 Use k nearest neighbours regression

knn_reg = KNeighborsRegressor(n_neighbors=5)
knn_reg.fit(X_train.values, y_train.values)
y_pred_1 = knn_reg.predict(X_test.values)

In [ ]:
# Use grid search to select optimal hyperparamters of your models. 

# Q23.1 Alpha for a ridge regression
# Q23.2 Depth for the tree
# Q23.3 Number of neighbours for the knn

In [51]:
from sklearn.model_selection import GridSearchCV

In [68]:
# Q23.1 Alpha for a ridge regression

models_fit = []

ridge_params = {'alpha': [10**x for x in np.linspace(0.1, 10.0, 100)]}
ridge_gs = GridSearchCV(Ridge(), ridge_params)
ridge_gs.fit(X_train.values, y_train.values)
ridge_pred = ridge_gs.predict(X_test.values)

In [62]:
# Q23.3 Number of neighbours for the knn

In [53]:
# Compute train and test mean squared error for your best models (list of float).

# Q24.1 Train, test MSE using linear regression with l2 regularization

# Q24.2 Train, test MSE using decision tree regression
# Q24.3 Train, test MSE using k nearest neighbours regression

from sklearn.metrics import mean_squared_error

In [70]:
from sklearn.metrics import mean_squared_error as mse

best_ridge_reg = Ridge(alpha=0.0001)
best_ridge_reg.fit(X_train.values, y_train.values)

best_knn_reg = KNeighborsRegressor(n_neighbors=8)
best_knn_reg.fit(X_train.values, y_train.values)

KNeighborsRegressor(n_neighbors=8)

In [55]:
# Q24.1 Train, test MSE using linear regression with l2 regularization
reg_train_mse = mse(best_ridge_reg.predict(X_train.values), y_train.values)
reg_test_mse = mse(best_ridge_reg.predict(X_test.values), y_test.values)

print('Train MSE:', reg_train_mse, '\nTest MSE: ', reg_test_mse)

Train MSE: 4.153649762778385e-11
Test MSE:  2.8031701634772057e-10

In [56]:
# Q24.3 Train, test MSE using k nearest neighbours regression
knn_train_mse = mse(best_knn_reg.predict(X_train.values), y_train.values)
knn_test_mse = mse(best_knn_reg.predict(X_test.values), y_test.values)

print('Train mse:', knn_train_mse, '\nTest mse: ', knn_test_mse)

Train mse: 43030.738502048036
Test mse:  63153.285751902156

In [57]:
# Compute train and test R^2 for your best models (list of float).

# Q25.1 Train, test R^2 using linear regression with l2 regularization
# Q25.2 Train, test R^2 using decision tree regression
# Q25.3 Train, test R^2 using k nearest neighbours regression

from scipy.stats import pearsonr
from sklearn.metrics import r2_score

In [58]:
# Q25.1 Train, test R^2 using linear regression with l2 regularization

train R^2: 1.0
test R^2:  0.9999999999999999

In [59]:
# Q25.3 Train, test R^2 using k nearest neighbours regression

Train R^2: 0.9886459277116985
Test R^2:  0.9833196296199241

In [ ]:
# Q26 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).

In [60]:
#my_analysis:

['traffic_by_year', 'clouds_all', 'temp', 'traffic_by_weekday', 'traffic_volume']

In [61]:
#Correct_one

['weather_main', 'clouds_all', 'temp', 'traffic_by_weekday', 'traffic_volume']

# Make sure your .ipynb is linearly executable     
# Kernel -> Restart & Run All -> No ERROR cells